@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px 20px;
}


/* footer styles cause jsx wont work idk why */
footer {
    font-size: 14px;
    margin-top: 32px;
    background-color: #eef6ff;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    padding: 0 16px;
  }

  ul li a {
    margin-bottom: 10px;
    color: #444;
    text-decoration: none;
  }